@import url(layout/normalize.css);
@font-face {
  font-family: 'Gagalin-Regular';
  src: url("../fonts/Gagalin-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Lifehack-Medium';
  src: url("../fonts/Lifehack-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }
html,
body {
  height: 100%; }

body {
  font-size: rem(16px);
  font-family: 'Ubuntu', Helvetica, sans-serif;
  font-weight: 300;
  line-height: 1.42;
  position: relative;
  color: #2f3234;
  -webkit-font-smoothing: antialiased; }

.container {
  margin: 0 auto;
  position: relative;
  width: 95%;
  max-width: 940px;
  display: flex;
  flex-direction: column; }

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.maincontent {
  height: 100%;
  min-height: 650px;
  transition: transform 1s;
  will-change: transform; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none; }

p {
  padding: 0;
  margin: 0; }

footer {
  position: relative;
  width: 100%; }

* {
  box-sizing: border-box; }

.section {
  height: 100vh;
  min-height: rem(650px);
  position: relative;
  display: flex;
  overflow: hidden; }

.section__title {
  color: #f9b43b;
  font-size: rem(72px);
  font-family: 'Gagalin-Regular', Helvetica, sans-serif;
  margin-bottom: rem(12px); }
  .section__title.section__title_black {
    color: #2f3234; }
  .section__title.section__title_white {
    color: white; }

.header {
  padding-top: rem(12px);
  display: flex;
  justify-content: space-between;
  align-items: center; }

.header__btns {
  display: flex;
  align-items: center;
  margin-left: auto; }

.header__links {
  display: flex;
  align-items: center; }

.header__menu {
  flex: 1;
  text-align: right;
  margin-right: rem(20px); }

.nav__list {
  width: 100%;
  display: flex;
  align-items: center; }

.nav__item {
  display: flex;
  align-items: center; }
  .nav__item:after {
    content: "";
    display: block;
    width: rem(4px);
    height: rem(4px);
    border-radius: 50%;
    background: white;
    margin: 0 rem(15px); }
  .nav__item:last-child {
    margin-right: 0; }
    .nav__item:last-child:after {
      display: none; }

.nav__link {
  font-size: rem(13px);
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  font-family: 'Ubuntu', Helvetica, sans-serif;
  font-weight: 500; }
  .nav__link:hover {
    text-decoration: underline; }

.fixed-menu {
  position: fixed;
  top: rem(90px);
  right: rem(40px); }

.fixed-menu__link {
  width: rem(16px);
  height: rem(16px);
  display: block;
  position: relative; }
  .fixed-menu__link:after, .fixed-menu__link:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%; }
  .fixed-menu__link:after {
    width: rem(6px);
    height: rem(6px);
    background: #fff;
    transition: .3s;
    opacity: 1; }
  .fixed-menu__link:before {
    width: rem(0px);
    height: rem(0px);
    border-radius: 50%;
    border: rem(1px) solid #fff;
    opacity: 0;
    transition: .3s; }
  .fixed-menu__link:hover:before {
    width: rem(14px);
    height: rem(14px);
    opacity: 1; }

.fixed-menu__link--black:after {
  background: #313436;
  opacity: .8; }
.fixed-menu__link--black:before {
  border: rem(1px) solid #313436;
  opacity: .8; }

.fixed-menu__item {
  margin-bottom: rem(7px); }
  .fixed-menu__item.active .fixed-menu__link:before {
    width: rem(14px);
    height: rem(14px);
    opacity: 1; }

.heading {
  background: url("../images/heading_bg.jpg") center center no-repeat;
  background-size: cover;
  position: relative; }

.heading__container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 15%;
  position: relative; }

.heading__content {
  display: flex; }

.heading__left,
.heading__right {
  float: left;
  width: 50%; }

.heading__right {
  padding-top: rem(65px); }

.heading__subtitle {
  font-size: rem(65px);
  color: white;
  font-family: 'Lifehack-Medium';
  text-transform: lowercase;
  line-height: 0.95em; }

.heading__img {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  max-width: 100%;
  max-height: 100%; }

.next-screen-arrow {
  position: absolute;
  bottom: rem(20px);
  left: 50%;
  width: rem(60px);
  transform: translateX(-50%);
  transition: .3s;
  height: rem(60px);
  display: flex;
  align-items: center;
  justify-content: center; }
  .next-screen-arrow:hover .next-screen-arrow__icon {
    margin-top: rem(-12px); }

.next-screen-arrow__icon {
  width: rem(40px);
  height: rem(40px);
  transition: .3s;
  fill: #fff; }

.best {
  background: url("../images/best_bg.jpg") no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  align-items: center;
  background-position: center center; }
  .best .section__title {
    margin-bottom: rem(80px); }

.best__icon-pic {
  width: 90%;
  height: rem(100px); }

.best__list {
  display: flex; }

.best__item {
  margin-bottom: rem(50px);
  padding: 0 rem(15px);
  display: flex;
  flex-direction: column; }

.best__desc {
  text-align: left; }

.best__title {
  font-size: rem(24px);
  margin-bottom: rem(20px); }

.reviews {
  background: #000; }

.reviews__list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap; }

.reviews__item {
  width: 25%;
  height: 50%;
  position: relative; }

.review {
  position: relative;
  width: 100%;
  height: 100%; }
  .review:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    transition: .3s; }
  .review:hover .review__hover {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1; }
  .review:hover:after {
    background: rgba(20, 20, 20, 0.7); }

.review__photo {
  width: 100%;
  height: 100%;
  filter: grayscale(100%); }

.review__hover {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%) scale(0.7);
  opacity: 0;
  padding: 17% 12% 0;
  transition: .3s;
  z-index: 10; }

.review__title {
  color: #fff;
  font-family: 'Gagalin-Regular', Helvetica, sans-serif;
  font-size: rem(14px);
  margin-bottom: rem(25px); }

.review__shorttext {
  color: #ffffff;
  font-size: rem(14px);
  font-family: 'Ubuntu', Helvetica, sans-serif;
  font-weight: 300;
  margin-bottom: rem(13px); }

.review__view {
  border-radius: rem(5px);
  background-color: #2f3234;
  padding: rem(8px) rem(12px);
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Ubuntu', Helvetica, sans-serif;
  font-weight: 500;
  font-size: rem(12px);
  transition: .3s; }
  .review__view:hover {
    background-color: #232527; }

/*# sourceMappingURL=main.css.map */
