.section-best {
  background-image: url("../../images/best_bg.jpg");
  background-size: cover;
}

.best-title {
  font-family: "gagalinregular";
  font-size: 72px;
  margin: 50px auto;
}

.best-list {
  display: flex;
  justify-content: space-between;
} 

.best-item {
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
}

.best-item__icon {
  margin-bottom: 30px;
}

.best-item__title {
  font-family: "lifehackmedium";
  font-size: 24px;
  margin-bottom: 30px;
  text-align: center;
}

.best-item__text {
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  line-height: 1.7em;
}

