.section-head {
  background-image: url("../../images/heading_bg.jpg");
  background-size: cover;
}

.header {
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.menu__list {
  display: flex;
  align-items: center;
} 

.menu__list-item {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  list-style-type: disc;
  color: #fff;
  margin-right: 30px;
}

.menu__list-item:first-child {
  list-style-type: none;
}

.menu__list-item--buy {
  list-style-type: none;
  background: #e45028;
  padding: 10px 20px;
  border-radius: 5px;
}

.menu__list-link {
  text-decoration: none;
  color: #fff;
}

.header-content {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
}

.header-content__left {
  margin-right: 10px;
}

.header-content__title {
  font-family: "gagalinregular";
  font-size: 80px;
  color: #f9b43b;
}

.header-content__subtitle {
  font-family: "lifehackmedium";
  font-size: 55px;
  color: #fff;
  line-height: 1em;
}

.header-next {
  text-align: center;
}