.best {
  background: url('../images/best_bg.jpg') center center / cover no-repeat;
}

.best__list {
  display: flex;

  @include phones {
    flex-direction: column;
  }
}

.best__item {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 1rem;
  text-align: center;

  &:last-child {
    margin-right: 0;
  }

  @include phones {
    flex-direction: row;
    margin-right: 0;
    margin-bottom: 3rem;
  }
}

.best__img {
  margin-bottom: 1.25rem;

  @include phones {
    margin-bottom: 0;
    margin-right: 1.6rem;
    width: 25%;
  }
}

.best__icon {
  display: inline-block;
}

.best__title {
  color: $black;
}

.best__desc {
  h3 {
    font-family: "lifehackmedium";
    font-size: 1.5rem;
    margin-bottom: .63rem;
    line-height: 1.3;
  }

  p {
    font-size: .88rem;
    font-weight: 300;
    line-height: 1.7em;
  }

  @include phones {
    width: 70%;
    text-align: left;
  }
}