.fixed-menu {
  position:fixed;
  top: 12%;
  right: 3%;

  @include tablets {
    display: none;
  }
}

.fixed-menu__item {
  display: block;
  margin-bottom: .31rem;
  padding: .31rem;
  height: 1rem;
  width: 1rem;
  position: relative;
  border: 1px solid transparent;
  border-radius: 50%;

  &:hover {
    border-color: #fff;
    cursor: pointer;
  }

  &_active {
    border-color: #fff;
  }

  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: .38rem;
    height: .38rem;
    border-radius: 50%;
    background: #fff;
  }
}
