.hamburger-menu-link {
	vertical-align: middle;
	position: relative;
	height: 1.38rem;
	align-items: center;
	margin-left: 1.88rem;
	display: none;

  @include tablets {
    display: flex;
  }
}

.hamburger-menu-link__bars {
	&, &:before, &:after {
		background: #fff;
		width: 1.5rem;
		height: .31rem;
		border-radius: .19rem;
	}

	&:before, &:after {
		content: "";
		display: block;
		position: absolute;
	}

	&:before {
		top: 0;
	}

	&:after {
		bottom: 0;
	}
}