.header {
	padding-top: .75rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__btns {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header__links {
  display: flex;
  align-items: center;
}

.header__menu {
	flex: 1;
	text-align: right;
	margin-right: .75rem;

  @include tablets() {
    display: none;
  }
}

.header__logo-icon {
	width: 6.25rem;
  height: 4.69rem;
}

.nav__list {
	width: 100%;
	display: flex;
  align-items: center;
}

.nav__item {
  display: flex;
	align-items: center;

	&:last-child {
    margin-right: 0;
    
		&:after {
			display: none;
		}
	}

	&:after {
    content: "";
		width: .25rem;
		height: .25rem;
		border-radius: 50%;
		background: white;
		margin: 0 0.75rem;
	}
}

.nav__link {
	font-size: .8rem;
	text-transform: uppercase;
	color: white;
	text-decoration: none;
	font-weight: 500;

	&:hover {
		text-decoration: underline;
	}
}

.order-link {
	@include tablets{
		position: absolute;
		top: 4%;
		right: 10%;
	}
	@include phones{
		position: absolute;
		top: 4%;
		right: 10%;
	}
}