.hero {
  background: url("../images/heading_bg.jpg") center center / cover no-repeat;
}

.hero__container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.hero__order-btn {
  margin-left: 15px;
}

.hero__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: .75;
  line-height: 1;
}

.hero__content-img {
  margin-right: 15px;
}

.hero__content-desc {
  font-family: "lifehackmedium";
  font-size: 55px;
  color: #fff;
}

.arrow-down {
  position: absolute;
  left: 50%;
  bottom: 5%;
}