.hero {
  background: url("../images/heading_bg.jpg") center center / cover no-repeat;
}

.hero__container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.hero__order-btn {
  margin-left: 1rem;
}

.hero__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: .75;
  line-height: 1;
}

.hero__content-img {
  margin-right: 1rem;
}

.hero__burger-img {
  max-width: 100%;
}

.hero__content-desc {
  font-family: "lifehackmedium";
  font-size: 3.44rem;
  color: #fff;
}

.arrow-down {
  position: absolute;
  left: 50%;
  bottom: 5%;

  &__icon {
    width: 2.19rem;
    height: 1.25rem;
  }
}