.order {
  background: url('../images/order_bg.jpg') center center no-repeat / cover;
}

.form {
  font-size: .88rem;
  font-weight: 300;
  color: #fff;
  display: flex;

  &__left {
    margin-right: 1.25rem;
  }
}

.form__left, .form__right {
  width: 50%;
}

.form__row {
  display: flex;
  margin-bottom: 1rem;
}

.form__block {
  margin-right: 1.25rem;
  flex: 1;

  &:last-child {
    margin-right: 0;
  }
}

.form__block-input {
  border-radius: 5px;
  background: #fff;
  border: none;
  width: 100%;
  height: 2.19rem;
  padding: .31rem .63rem;
}

.form__block-title {
  margin-bottom: .31rem;
}

.textarea {
  height: 6.88rem;
  resize: none;
}

.form__btn {
  border: none;
  cursor: pointer;

  &-reset {
    padding-left: 0;
    padding-right: 0;
    text-transform: none;
    background: transparent;
    margin-left: 3%;
  }
}
