.reviews {
  background: #000;
  position: relative;
}

.reviews__list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.reviews__item {
  width: 25%;
  height: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  filter: grayscale(100%);

  &:hover {
    .reviews__item-hover {
      opacity: 1;
    }
  }
}

.reviews__item-hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(#000, .5);
  padding: 0.63rem;
  color: #fff;
  opacity: 0;
  transition: opacity .3s;
  padding: 3.13rem 1.25rem;
  font-size: .88rem;

  h3 {
    font-family: "gagalinregular";
    margin-bottom: 1.88rem;
  }

  p {
    font-weight: 300;
    margin-bottom: 1.25rem;
  }
}
