.team {
  background: url('../images/team_bg.jpg') no-repeat;
  background-size: cover;
  position: relative;

  &__block {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    background: rgba(#2f3234, .93);
    padding: 5% 4% 0 8%;
    display: flex;
    flex-direction: column;
  }
}

.accordeon {
  color: #fff;
  font-size: .88rem;

  &__name {
    font-family: "gagalinregular";
    margin-bottom: 1rem;
    cursor: pointer;
  }

  &__name:before {
    content: "";
    display: inline-block;
    border: .5rem solid transparent;
    width: 0;
    height: 0;
    border-top-color: #f7b33b;
    border-bottom-width: 0px;
    border-left-width: .31rem;
    border-right-width: .31rem;
    margin-right: .63rem;
  }

  &__content {
    display: flex;
    margin-bottom: 1.88rem;
    height: 0;
    overflow: hidden;
  }

  &__text {
    width: 15rem;

    h3 {
      font-weight: bold;
      margin-bottom: 1rem;
    }

    p {
      line-height: 1.7;
    }
  }
  
  &__img {
    width: 6.5rem;
    height: 6.5rem;
    background: center center no-repeat;
    background-size: cover;
    border-radius: 50%;
    margin-right: 1.25rem;
  }
}

.accordeon__item--active {
  
  .accordeon__name {
    color: #f9b43b;
  }

  .accordeon__name:before {
    content: "";
    display: inline-block;
    border: .5rem solid transparent;
    width: 0;
    height: 0;
    border-bottom-color: #f7b33b;
    border-top-width: 0;
    border-left-width: .31rem;
    border-right-width: .31rem;
    margin-right: .63rem;
  }

  .accordeon__content {
    height: 6.88rem;
  }
}


