.team {
  background: url('../images/team_bg.jpg') center center no-repeat;
  background-size: cover;
  position: relative;

  &__block {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    background: rgba(#2f3234, .93);
    padding: 5% 4% 0 8%;
    display: flex;
    flex-direction: column;

    @include tablets {
      left: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}

.team__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accordeon {
  color: #fff;
  font-size: .88rem;

  &__name {
    font-family: "gagalinregular";
    font-size: 24px;
    margin-bottom: 1rem;
    cursor: pointer;
  }

  &__name:before {
    content: "";
    display: inline-block;
    border: .5rem solid transparent;
    width: 0;
    height: 0;
    border-top-color: #f7b33b;
    border-bottom-width: 0px;
    border-left-width: .31rem;
    border-right-width: .31rem;
    margin-right: .63rem;
  }

  &__content {
    display: flex;
    margin-bottom: 1rem;
    height: 0;
    overflow: hidden;

    @include tablets {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  &__text {
    width: 15rem;

    h3 {
      font-weight: bold;
      margin-bottom: 1rem;
    }

    p {
      font-weight: 300;
      line-height: 1.7;
    }

    @include tablets {
      width: 20.75rem;
    }
  }
  
  &__pic {
    margin-right: 1.25rem;

    @include tablets {
      margin-right: 0;
    }

    @include phones {
      margin-right: 0;
    }
  }
  
  &__img {
    width: 100px;
    height: 100px;
    background: center center no-repeat;
    background-size: cover;
    border-radius: 50%;
  }

  @include tablets {
    text-align: center;
  }
}

.accordeon__item--active {
  
  .accordeon__name {
    color: #f9b43b;
  }

  .accordeon__name:before {
    content: "";
    display: inline-block;
    border: .5rem solid transparent;
    width: 0;
    height: 0;
    border-bottom-color: #f7b33b;
    border-top-width: 0;
    border-left-width: .31rem;
    border-right-width: .31rem;
    margin-right: .63rem;
  }

  .accordeon__content {
    height: 8.4rem;

    @include tablets {
      height: 14.5rem;
    }
  }

  .accordeon__img {
    @include tablets {
      margin-bottom: 1.55rem;
    }
  }

  .accordeon__text {
    @include tablets {
      width: 21rem;
    }
  }
}



